@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;1,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;1,200;1,400&family=Roboto:ital,wght@0,300;0,500;1,100&display=swap');

$color-1: #f57003;
$color-2:#F6BA00;
$color-3: #20A39E;
$color-4: #0D1321;

$font-principal: 'Roboto', sans-serif;
// 200 400 